    @import url('https://fonts.googleapis.com/css?family=Baloo+Bhaina');
div {
    margin:0px;
}
#main{
        font-family: 'Merriweather', serif;
     
}

#fillform {
			
				margin-right: 0px;
			}

#col-1{
    background-color: gray;
    margin:0px;
    border:0px;
}

#col-2{
    background-color: yellow;
}

#col-3{
    background-color: red;
}
#content{
    margin-left: auto;
    margin-right: auto;
}